<div class="question">
  <div class="question-content">

    <div class="title-mini">Вопрос:</div>
    <div class="question-text text-lead">
      <%= make_tags_links(question.text).html_safe %>
    </div>

    <% if question.answer.present? %>
        <div class="title-mini">Ответ:</div>
        <div class="question-answer text-lead">
          <%= make_tags_links(question.answer).html_safe %>
        </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
      <% if question.author.present? %>
        |
        <span class="author">
          <%= link_to "@#{question.author.username}", user_path(question.author) %>
        </span>
      <% end %>
      </div>
  </div>

  <% if question.user == current_user %>
      <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

      <div class="question-actions">
        <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
        <%= link_to fa_icon('trash-o'), question_path(question),
                    method: :delete, data: {confirm: t("question.accurately_delete_the_question")} %>
      </div>
  <% end %>
</div>